/* Estilos Css */

ul {
  list-style-type: none;
  margin: 10px auto;
  padding: auto;
  overflow: hidden;
}

li:hover{
border-radius: 30px;
animation-duration: 2ms;
background-color: #b4bfc4;
color: #22333b;
}
 
li {
  float: left;
}

li a {
display: flex;
justify-content: center;
text-align: center;
color:#22333b !important;
padding: 20px 20px;
text-decoration: none;
font-size: xx-large;
padding: 1.9em auto;
}


form {
  width: 250px;
  height: 450;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
  background-color: #bdbdbd;
  font-family: Montserrat, sans-serif;
}

/* Aplicacion de grid a seccion de Bodegas */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 5px auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 3fr);
}

.container > .header,
.container > .content,
.container > .bodegas,
.container > div {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  
}

.container > .header {
  grid-column: ;
  color: black;
  justify-content: center;
  display: flex;
}

.container > .content {
  font-family: Montserrat, sans-serif;
  background-color: #bdbdbd;
  grid-column: span 3;
  grid-row: span 2;
}


.content > .article {
  padding: 10px;
  margin: 10px;
  font-family: Montserrat, sans-serif;
}

.content .article h1,
.content .article p {
  padding: 20px;
  font-family: Montserrat, sans-serif;
  font-size: larger;
}

.container > .bodegas {
  color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #bdbdbd;
}

/* Estilo frexbox*/

.table {
  display: flex;
  font-family: Montserrat, sans-serif;
  color: #000000;
  border: solid rgb(8, 8, 8);
  text-align: center;
  font-size: large;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #bdbdbd;

}

 body {
  background-color: #b4bfc4;
  border-radius: 10px;
  font-family: Montserrat, sans-serif;
  font-size: larger;
  font-weight: 50px;
  margin: auto;
 
}


.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: black;
  padding: 20px 0px;
  font-size: 1.9em;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: large;
  margin-top: 40px;
  color: black;
  background-color:#bdbdbd;
}



.parrafo {
  display: flex;
  justify-content: center;
  font-family: "Style Script", cursive;
  color: black;
  font-size: 1.6em;
}

img{ 
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}
.nosotros {
  justify-content: left;
  font-family: Montserrat, sans-serif;
  margin: 10px;
  font-size:x-large;


}
.animate__animated:hover {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  border-radius: 32px;
}


/*xs - sm*/
@media only screen and (min-width: 600px) {
body{
  background-color: rgb(154, 223, 154);

}

   }
   @media only screen and (min-width: 728px) {
    body{
      background-color: #bdbdbd;
    }
    
       }
       @media only screen and (min-width: 1000px) {
        body{
          background-color: #eae0d5;
        }
        
           }