

.card-link{
  color:#000 !important;
  text-decoration: none;
  bottom: 30px;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
  background:rgb(202, 203, 206);
  border-radius: 10px;
  text-align:justify;
   }
   .accordion-button{
    color:rgb(241, 13, 13) !important;
    text-decoration: none;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
     text-align:justify;

   }

  .body3{
   font-family: Montserrat, sans-serif;
   background-size: 20px 20px;
   background-position: 0 0, 10px 10px;
   min-height: 100vh;
   justify-content: center;
   background-color: #fff;

  }
  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondo{
    width: 1300px;
    height: 800px;
    background-image: url(../img/home7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
#fondo h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}
.container-fluid{
  color: #000;
  font-family: Montserrat, sans-serif;
}
  
/* Estilos Css */


.form *{
  background-color: rgb(202, 203, 206);
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5 em 3em;
  border-radius: 10px ;
  box-shadow: 0 5px 10 px -5px rgb(0 0 0 / 20%);
  text-align: center;
  margin-top: 3px;
  font-family: 'Oswald', sans-serif;
}

.color{
  background-color: #fff;
}
/* Aplicacion de grid a seccion de Bodegas */

.container {
  width: 90%;
  max-width: 1000px;
  margin: 5px auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 3fr);
}

.container > .header,
.container > .content,
.container > .bodegas,
.container > div {
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  
}

.container > .header {
  color: black;
  justify-content: center;
  display: flex;
}

.container > .content {
  font-family: Montserrat, sans-serif;
  grid-column: span 3;
  grid-row: span 2;
}


.content > .article {
  padding: 10px;
  margin: 10px;
  font-family: Montserrat, sans-serif;
  font-size: large;
}

.content .article h1,
.content .article p {
  padding: 20px;
  font-family: Montserrat, sans-serif;
  font-size: larger;
}

.container > .bodegas {
  margin-top: 50px;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

/* Estilo frexbox*/

.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  padding: 30px;
  margin: 0px;
  font-size: 3.9em;
  overflow: visible;
  background-color:rgb(15, 11, 11);;
  margin-top: 200px;
}
.navbar-toggler{
  color: #fff;

}
#carouselExampleControls{
  margin-top: 50px;
}

.parrafo {
  display: flex;
  justify-content: center;
  font-family: "Style Script", cursive;
  color: black;
  font-size: 1.6em;
  margin-top: 30px;
}

img{ 
  max-width: 100%;
  height: auto;
  border-radius: 30px;
   }

.nosotros {
  justify-content: left;
  font-family: Montserrat, sans-serif;
  margin: 30px auto;
  font-size:x-large;

   }

.flex-center{
  margin-top: 3px;
}

.nosotros1{
  padding: 20px;
  margin: 30px auto;
  font-family: Montserrat, sans-serif;
  font-size: larger;

}


.animate__animated:hover {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  border-radius: 32px;
}

/*xs - sm*/
@media only screen and (min-width: 600px) {
body{
  background-color: rgb(154, 223, 154);

}
 ul li{
   display: block;
   justify-content: center;
    }
   @media only screen and (min-width: 728px) {
    body{
      background-color: #bdbdbd;
    }
    
       }

       @media only screen and (min-width: 1000px){


        body{
          background-color: #eae0d5;
        }
                     }